nav {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 10px 20px;
    background-color: #f0f0f0;
  }
  
  .logo img {
    height: 50px;
  }
  
  .title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;  
    flex-grow: 1;
    text-decoration: none;
  }
  